<script>
  function play() {
    var audio = document.getElementById("audio");
    
    }
    
</script> 
  
  
  
   <p>

      <input type="button" class= "btn btn-default" value= <%=@word.english %>   onclick="play()">
      <audio id = "audio">
        <source src= <%= audio_path @word.english %> type="audio/mpeg" controls>
        Your browser does not support the audio element.
      </audio>
      <script>
       audio.play();
      </script>
   </p>
   
 