<script>
  function play() {
    var audio = document.getElementById("audio");
    audio.play();
    }
    
</script> 
  
  
  
   <p>

      <input type="button" class= "btn btn-block btn-lg btn-default" value= "<%=@word.english %>"  onclick="play()">
      <audio id = "audio">
        <source src= <%= audio_path @word.english %> type="audio/mpeg" controls>
        Your browser does not support the audio element.
      </audio>
      <script>
       audio.play();
      </script>
   </p>
   <div id="imagination" class= "text-center">
    <h2>
       <em> Only your imagination can tell you what will appear here in a future version of this app!</em>
    </h2>
   </div>
   <p class = "text-center"> <%= link_to "Edit this Word", edit_word_path(@word) %> | <%= link_to 'Delete this Word', word_path(@word),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </p>
 