/// put custom css here, such as background image, etc. 
html {
    background: asset-data-url("wallpaper.jpg");
    
}

.well {
    opacity: 0.8;
}

body {
    background-color: transparent;
    color: #fff;
    height: 100%;
    a { color: #fff;
    }
}
.category a, i{
    color: #fff;
    
}

.word {
    margin: 5px;
   
}

#imagination {
    margin-top: 150px;
    color: purple;
}


.field, .actions {
    color: black;
}