// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
    text-decoration: none;
    
    color: green;
}


#words {
    button {
        width: 12em;
        height: 2em;
        background-color: #fff;
        border-color: #fff;
    }
}