<div></div>
<div class="navbar navbar-inner  navbar-fixed-bottom" >
 <div id="footer">
 <div >
 <em class="text-muted ">   
 <center>
 
 <%= link_to "home", root_path %> | 
   
     <%= link_to "add a new category", new_category_path %>  |
  
  <%= link_to "add a new word", new_word_path %> 
</center
 </em> 
</div>


                  
                    
           

